Lab01/tutorial/project/
Lab02/ex1_full_adder/project/
Lab02/ex3_16_to_4_priority_encoder/project/
Lab02/ex4_three_digit_decimal_counter/project/
Lab02/ex5_fsm_and_fsmd/project/
Lab02/ex6_multipliers_comparison/project
Lab03/seven_segment_display/project/
Lab04/step_motor/project/
